# Auxiliary
*.db
*.db-shm
*.db-wal
*.filters
*.ipdb
*.lastbuildstate
*.log
*.opendb
*.pdb
*.sarif
*.suo
*.tlog
*.txt
*.user
*.xml

# Intermediate
*.d
*.gch
*.iobj
*.ipch
*.lo
*.o
*.obj
*.pch
*.slo

# Output
*.a
*.app
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.out
*.so
*.exp
